<%- include("partials/header") -%>

<h1>About us</h1>
<p>
  <strong> Mr.Rahul Purohit</strong>  is currently a Bachelor of Technology student in the Department of Information Technology and has great enthusiasm for learning new technologies while developing practical skills through student-centric and growth-oriented internships. 
  
  <p>Additionally, 
    "BLOG It..!" is a place for people who love reading, writing, and exploring real-world discoveries"</p> 
</p>

<%- include("partials/footer") -%>