<%- include("partials/header") -%>

<h1>Contact</h1>
<p>Name: Rahul Purohit (Owner)
  <p>Mail-id: <a href = "mailto: rahulpurohit185@gmail.com">rahulpurohit185@gmail.com</a>
  </p>  
 <p> LinkedIn: <a href = "https://www.linkedin.com/in/rahul-purohit-b2a384200">Reach me on LinkedIn</a> </p> 
 </p>

<%- include("partials/footer") -%>